<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weighted Average Calculator</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div class="header__text">Weighted Average Calculator</div>
      </div>

      <form
        action="/calculate"
        method="POST"
        id="calculator-form"
        class="data__container"
        autocomplete="off"
      >
        <div class="data" id="data-rows">
          <div class="data__row">
            <div class="data__number"></div>
            <button
              type="button"
              class="add-row-button data__btn"
              onclick="addRow()"
            >
              Add Row
            </button>
            <button type="submit" class="submit-button data__btn">
              Submit
            </button>
          </div>
          <div class="data__row">
            <div class="data__number"></div>
            <button
              type="button"
              class="remove-row-button data__btn"
              onclick="removeRow()"
            >
              Remove Row
            </button>
            <button
              type="button"
              class="clear-button data__btn"
              onclick="clearInputs()"
            >
              Clear
            </button>
          </div>
          <div class="data__row">
            <div class="data__number"></div>
            <button
              type="button"
              class="nav-button data__btn"
              onclick="navigate('previous')"
            >
              Previous
            </button>
            <button
              type="button"
              class="nav-button data__btn"
              onclick="navigate('next')"
            >
              Next
            </button>
          </div>
          <div class="data__row">
            <div class="data__number"></div>
            <div class="data__text">Value</div>
            <div class="data__text">Weight</div>
          </div>
          <% for (let i = 1; i <= rowCount; i++) { %>
          <div class="data__row">
            <div class="data__number"><%= i %></div>
            <input
              type="text"
              data-id="<%= i %>"
              class="data__value data__input"
              name="value<%= i %>"
              value="<%= values ? values['value' + i] : '' %>"
            />
            <input
              type="text"
              data-id="<%= i %>"
              class="data__weight data__input"
              name="weight<%= i %>"
              value="<%= weights ? weights['weight' + i] : '' %>"
            />
          </div>
          <% } %>
        </div>
        <div class="result">
          <div class="result__window" id="result">
            <% if (typeof result !== 'undefined') { %>
            <p><%= result %></p>
            <% } %>
          </div>
        </div>
      </form>
    </div>
    <script>
      let rowCount = "<%= rowCount %>";

      function addRow() {
        rowCount++;
        const dataRows = document.getElementById("data-rows");
        const newRow = document.createElement("div");
        newRow.className = "data__row";
        newRow.innerHTML = `
          <div class="data__number">${rowCount}</div>
          <input type="text" data-id="${rowCount}" class="data__value data__input" name="value${rowCount}" value="" />
          <input type="text" data-id="${rowCount}" class="data__weight data__input" name="weight${rowCount}" value="" />
        `;
        dataRows.appendChild(newRow);
      }

      function removeRow() {
        if (rowCount > 1) {
          const dataRows = document.getElementById("data-rows");
          dataRows.removeChild(dataRows.lastChild);
          rowCount--;
        }
      }

      function navigate(direction) {
        window.location.href = `/${direction}`;
      }

      function clearInputs() {
        const inputs = document.querySelectorAll(".data__input");
        inputs.forEach((input) => (input.value = ""));
      }
    </script>
  </body>
</html>
